body {
    font-family:Arial;
    font-size:14px;
}

#container {
    width:640px;
    margin:auto;
    margin-top:50px;
}

#picturebox {
    clear:both;
}

#previous, #next {
    display:block;
}

#previous {
    float:left;
}

#next {
    float:right;
}